body{
  background-color: #f2f2f2;
} 


.card{
  width: 190px;
  height: 280px;
  border-radius: 10px;
  
}

.card-img-top{
  width: 150px;
  height: 180px;
}

.card-title{
  font-size: 15px;
  font-weight: 600;
}

.card-text{
  font-size: 12px;
  font-weight: 400;
}

.card-price {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0 10px 10px 0;
  font-size: 20px;
  font-weight: 400;
  text-align: end;
}



.btn-category,.btn-all{
  border-radius: 8px;
  background-color: #7ed957;
  font-size: 15px;
  font-weight: 500;
  margin-top: 0;
  
}

